.title {
    display: inline-block;
}

.search {
    display: inline-block;
    width: 30%;
    position: relative;
    vertical-align: top;
    float: right;
}

.closebutton {
    float: right;
    vertical-align: middle;
    color: gray;
}

.installPluginsDialogue {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.installPluginsDialogue.hidden {
    display: none;
}

.pluginli {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1%;
}

.pluginli_icon {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.pluginli_desc {
    width: 79%;
    display: inline-block;
}

.plugintitle {
    display: inline-block;
    font-size: 120%;
}

.pluginauth {
    color: rgb(129, 129, 129);
    display: inline-block;
    padding-left: 0.5%;
}

.plugindesc {
    color: rgb(103, 187, 255);
    width: 100%;
}

.plugininstall_list {
    height: 100%;
    overflow: scroll;
}